input,
p {
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
    /* background-color: aqua; */

}

button {
    width: 100px;
    height: 30px;
    margin: 5px;
    border-radius: 10px;

}

.btn1 {
    background-color: rgb(79, 208, 79);
}

.btn1:hover {
    background-color: rgb(96, 216, 96);

}

.btn2 {
    background-color: rgb(225, 66, 66);
}

.btn2:hover {
    background-color: rgb(200, 41, 41);

}